---
import type { ApiWidget } from "@/lib/api";
import { createScopedWidgetScript, prepareWidgetContent } from "@/lib/widget-content";

interface Props {
  widget: ApiWidget;
  class?: string;
  priority?: boolean;
}

const { widget, class: className = "", priority = false } = Astro.props;
const { scopeClass, html, css, js } = prepareWidgetContent(widget, { priority });
const scopedScript = createScopedWidgetScript(widget.id, js);
---

{css && <style set:html={css} />}
<div
  class:list={["widget-container cms-widget-frame", scopeClass, className]}
  data-widget-id={widget.id}
  data-scalius-widget-root="true"
>
  <Fragment set:html={html} />
</div>
{scopedScript && <script is:inline set:html={scopedScript} />}
